In [1]:
!pwd
import sys
sys.path.append('/workspace')

/workspace/notebooks

In [2]:
from src.core.db.config import DatabaseEnum
from src.core.db.models.pdf_models import Fincen8300Rev4
from src.core.db.models.main_models import EmployeeToDocument
from src.core.db.session import DBContext, DbQuery

[23/03/2021 03:01:08] [    INFO] [dotenv.main] [_get_stream():77] [PID:135 TID:140482163009344] -> Python-dotenv could not find configuration file /workspace/src/core/env/.local.env.local.

# Read the pdf data into a data source

In [3]:
db = DbQuery(DatabaseEnum.PDF_INGESTION_DB)
result = db.execute("SELECT * from public.fincen8300_rev4")

[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:135 TID:140482163009344] -> select version()
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:135 TID:140482163009344] -> {}
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:135 TID:140482163009344] -> select current_schema()
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:135 TID:140482163009344] -> {}
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1341] [PID:135 TID:140482163009344] -> SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1342] [PID:135 TID:140482163009344] -> {}
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1341] [PID:135 TID:140482163009344] -> SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1342] [PID:135 TID:140482163009344] -> {}
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:135 TID:140482163009344] -> show standard_conforming_strings
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:135 TID:140482163009344] -> {}
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:135 TID:140482163009344] -> SELECT * from public.fincen8300_rev4
[23/03/2021 03:01:08] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:135 TID:140482163009344] -> {}

In [4]:
type(result)

sqlalchemy.engine.result.ResultProxy

In [5]:
from pandas import DataFrame
df = DataFrame(result.fetchall())
df.columns = result.keys()

In [30]:
df.head(100)

,id,amends_prior_report,suspicious_transaction,multiple_individuals,last_name,first_name,middle_initial,tin,street_address,city,...,zip_code_brc,nature_of_business_brc,signature_footer,title_footer,date_of_signature_footer,contact_name_printed_brc,contact_phone_brc,dob,full_name,full_address
0,d08188b0-61f9-4e82-bb44-d2ca9e3f547d,None,None,None,Baranov,Jacqueline,None,761870877,500 east 77th street,New York,...,None,None,None,None,None,None,None,1971-01-29,Jacqueline Baranov,500 east 77th street New York NY
1,fcc83438-4a34-47ad-adc8-52d7be146434,None,None,None,Burton,Cliffton,None,192837465,54 Longfellow St Apt 1986,Glendale Heights,...,None,None,None,None,02112021,Rachel Adams,None,1962-02-10,Cliffton Burton,54 Longfellow St Apt 1986 Glendale Heights IL
2,186b1728-d9e9-4a89-8286-1a66b0d56ab0,None,None,None,Abowd,Daniel,None,171363880,10-30 Jackson Ave.,Long Island City,...,None,None,None,None,None,None,None,1970-05-30,Daniel Abowd,10-30 Jackson Ave. Long Island City NY
3,5f49c0a1-4d9e-468c-a2b1-6abe0b704ed4,None,None,None,Hetfield,James,None,111111115,415 North Grand Avenue,Jersey City,...,None,None,None,None,07111999,Venante Alcida,None,1963-08-03,James Hetfield,415 North Grand Avenue Jersey City NJ
4,17513205-cff6-44c4-b7bf-447fb0a38d65,None,None,None,Hammett,Kirk,None,222222223,20 S. Green Hill Ave.,Ephrata,...,None,None,None,None,11222019,Ivan Alonzo,None,1962-11-18,Kirk Hammett,20 S. Green Hill Ave. Ephrata PA
5,396f76e7-3ad5-471c-97b8-8d5ecbe1b061,None,None,None,Ulrich,Lars,None,667667666,261 Walnutwood Street,Madisonville,...,None,None,None,None,12211998,Trey Azagthoth,None,1963-12-26,Lars Ulrich,261 Walnutwood Street Madisonville KY
6,b7a85cd0-0c85-475e-baa7-201c493ac213,None,None,None,Volinsky,Martin,None,107292414,33 Camino Real,Boca Raton,...,None,None,None,None,None,None,None,1998-09-30,Martin Volinsky,33 Camino Real Boca Raton FL 33432-6155
7,940b83ce-357e-422d-b2d4-9f36aef2dcf3,None,None,None,Romero,Nataly,None,393754712,260 E Hampton Ave,Salt Lake City,...,None,None,None,None,None,None,None,1986-05-06,Nataly Romero,260 E Hampton Ave Salt Lake City UT
8,69d0a22e-8293-45d8-80be-bed167dff23b,None,None,None,Rodriquez,Cerena,None,550136294,1897 S. Olathe Street,Aurora,...,None,None,None,None,None,None,None,1980-11-14,Cerena Rodriquez,1897 S. Olathe Street Aurora CO
9,d48ed690-d5f5-45c0-bc58-693458e8b20c,None,None,None,Standerford,Roxanne,None,188951833,7618 Continental Dr,Mooresville,...,None,None,None,None,None,None,None,1985-04-22,Roxanne Standerford,7618 Continental Dr Mooresville IN
10,d4d6cda1-4449-4718-9624-4bca3d5a7b55,None,None,None,Stanton,Eilyn,None,691629978,12785 Frederick St,Moreno Valley,...,None,None,None,None,None,None,None,1985-10-23,Eilyn Stanton,12785 Frederick St Moreno Valley CA
11,792d0143-335d-4fda-8e11-9901ec63acb7,None,None,None,Xia,Yipu (Nigel),None,104393398,85 Livingston St,Brooklyn,...,None,None,None,None,None,None,None,1987-04-11,Yipu (Nigel) Xia,85 Livingston St Brooklyn NY

In [7]:
df.columns

Index(['id', 'amends_prior_report', 'suspicious_transaction',
       'multiple_individuals', 'last_name', 'first_name', 'middle_initial',
       'tin', 'address', 'city', 'state', 'zip', 'country', 'occ_prof_bus',
       'identdoc_describe', 'identdoc_issued_by', 'identdoc_number',
       'multiple_behalf', 'last_name_org_name_behalf', 'first_name_behalf',
       'middle_initial_behalf', 'tin_behalf', 'dba_behalf', 'address_behalf',
       'occ_prof_bus_behalf', 'city_behalf', 'state_behalf', 'zip_behalf',
       'country_behalf', 'identdoc_describe_behalf',
       'identdoc_issued_by_behalf', 'identdoc_number_behalf',
       'date_cash_received', 'total_cash_received', 'cash_received_mult_pmts',
       'total_price', 'usde_us_currency', 'usde_amt_benj_higher',
       'usde_foreign_currency', 'foreign_currency_country',
       'usde_cashiers_checks', 'usde_money_orders', 'usde_bank_drafts',
       'usde_travelers_checks', 'type_ot_personal_prop',
       'type_ot_real_property', 'type_ot_personal_services',
       'type_ot_business_services', 'type_ot_intangible_property',
       'type_ot_debt_obligations_paid', 'type_ot_exchange_of_cash',
       'type_ot_escrow_or_trust_funds', 'type_ot_bail_received',
       'type_ot_other', 'specific_description_of_property',
       'business_name_brc', 'ein_brc', 'address_brc', 'city_brc', 'state_brc',
       'zip_code_brc', 'nature_of_business_brc', 'signature_footer',
       'title_footer', 'date_of_signature_footer', 'contact_name_printed_brc',
       'contact_phone_brc', 'dob'],
      dtype='object')

In [8]:
from src.sources.data_source import DataSource
fincen = DataSource(df)

# Read employee data into data source

In [26]:
db = DbQuery(DatabaseEnum.MAIN_INGESTION_DB)
result = db.execute("SELECT * from public.employee")

[23/03/2021 03:02:35] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:135 TID:140482163009344] -> SELECT * from public.employee
[23/03/2021 03:02:35] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:135 TID:140482163009344] -> {}

In [10]:
print(result.keys())

['id', 'prefix_name', 'first_name', 'last_name', 'middle_name', 'suffix_name', 'date_of_birth', 'dod_id', 'ssn']

In [28]:
df_employee = DataFrame(result.fetchall())
df_employee.columns = result.keys()
df_employee.head(20)

,id,prefix_name,first_name,last_name,middle_name,suffix_name,date_of_birth,dod_id,ssn
0,0893c5d0-c505-4d3f-8e4c-b00d934d627c,None,Diane,Meier,P,Sr.,2057-02-28,7186,686280445
1,1836ea57-656d-4d94-93a3-de195d85f821,Ms.,Samantha,Young,,Sr.,1980-07-13,8955,195501688
2,bfe76f06-5e28-484f-a669-993868dfac07,None,Adrian,Frandle,,None,1982-12-20,5805,715397798
3,bac82beb-6eb2-4be5-97f0-c1d4df714338,Ms.,Christine,Johnson,Marie,None,1991-04-07,6424,105019573
4,e7f8c13d-9775-4253-826e-df72ded18a12,None,Kaisheng,Yao,,Jr.,1972-02-17,8930,503834214
5,f928201f-05a9-49b8-ad93-35767538e0a7,Mr.,Mayandran,Mathen,,None,1975-09-05,7089,197982969
6,0a0743ff-2519-4026-a7c2-15333108a72f,None,Max,Roesler,J,None,1988-12-18,7931,104024454
7,06cd129e-85f4-4232-a3ca-9087f0a5166c,None,Yasmin,Alpay,,None,2068-09-05,4615,455023577
8,5c617dad-f6ba-4827-8a2c-8a214e6f6698,None,Jieming,Gao,,Sr.,1977-11-13,5882,189200224
9,0e006e39-162a-493c-bedd-304064c45bab,None,Jin,Jang,,None,2069-01-03,6394,488780128
10,3c7cfdcb-d0d6-40ea-88cf-da7bcf58f406,Ms.,Xuefei,Zhao,,None,1988-09-29,9005,359517409
11,be1f360c-27d1-41bc-aa79-7bd500a41a35,None,Julia,Hoch,Stevenson,None,1993-04-02,6244,165507863
12,966749ff-8f67-43a0-8562-52ac24adc453,None,Maxine,Manafy,,Sr.,1975-05-10,7024,106985240
13,33bafc44-4752-45d8-bea4-3f9df9a8b965,None,Roxanne,Standeford,Joan,Sr.,1985-04-22,8359,188957833
14,63c3be35-8152-4133-a33c-a366ec7eef39,None,Eric,Burleson,,None,1981-11-07,5059,115293823
15,302048b2-3016-4cda-96ed-493700faf0b7,Ms.,Steven,Carpenter,J,None,1992-02-04,5136,157760268
16,90c5f6d3-a328-4b43-8af9-7d5e500750b8,Ms.,Emily,Joyce,,None,1981-07-25,6482,755609843
17,3c503b16-9fbd-4e74-a46c-0a44f99b5480,None,Jon,McCune,M,None,1991-09-24,7129,939981388
18,a19ea1ce-283d-4da5-b5bb-d027dd391e09,None,Zakia,Durrani,,None,1980-01-03,5610,867920163
19,c1e8815c-72c4-4664-9a1d-2d9c2f986373,None,Cameron,Martin,,Jr.,1987-11-21,7058,328645600

In [12]:
employee = DataSource(df_employee)

# Map the columns

In [13]:
from src.sources.structured_data_source import StructuredDataSource
from src.mapping.pdfs.pdf_field_name_classifier import FieldNameClassifier
from src.mapping.pdfs.pdf_field_label_catalog import FieldLabelCatalog
from src.mapping.pdfs.pseudofield_generator import PseudofieldGenerator

pseudofield_generator = PseudofieldGenerator(fincen)
pseudofield_generator.generate()

In [14]:
def _create_column_relations_for(source, target):
    """Create column relations from canonical column identifiers."""
    gold_id_info = FieldNameClassifier.get_id_info_from_df(target.get_data())
    data_id_info = FieldNameClassifier.get_id_info_from_df(source.get_data())
    for identifier in FieldLabelCatalog:
        if identifier in gold_id_info and identifier in data_id_info:
            g_id = gold_id_info[identifier]
            d_id = data_id_info[identifier]
            source.create_column_relation(
                d_id.field_name, g_id.field_name, target
            )
            print(
                "New relation detected: %s" % str(source.column_relations[-1])
            )

In [15]:
_create_column_relations_for(fincen, employee)

New relation detected: tin -> pandas DataFrame (hash -8826298284233990544): ssn (1.00 conf)
New relation detected: dob -> pandas DataFrame (hash -8826298284233990544): date_of_birth (1.00 conf)
New relation detected: first_name -> pandas DataFrame (hash -8826298284233990544): first_name (1.00 conf)
New relation detected: last_name -> pandas DataFrame (hash -8826298284233990544): last_name (1.00 conf)

# Find Row Mappings

In [16]:
from src.mapping.rows.row_mapping_configuration import RowMappingConfiguration
from src.mapping.values.value_matching_configuration import ValueMatchingConfiguration

In [17]:
import json
def load_config(path):
        """
        Read JSON from a filepath
        """
        with open(path, "r") as F:
            return json.load(F)

In [18]:
value_matching_config_json = load_config('../config/mapping/levenshtein_default.json')
row_mapping_config_json = load_config('../config/mapping/weighted_linear_default.json')
value_matching_config = ValueMatchingConfiguration(**value_matching_config_json)
row_mapping_config = RowMappingConfiguration(**row_mapping_config_json)

In [19]:
x = fincen.get_column_relations()
print(x)

[ColumnRelation(target_data_source=pandas DataFrame (hash -8826298284233990544), source_column_name='tin', target_column_name='ssn', confidence=1.0), ColumnRelation(target_data_source=pandas DataFrame (hash -8826298284233990544), source_column_name='dob', target_column_name='date_of_birth', confidence=1.0), ColumnRelation(target_data_source=pandas DataFrame (hash -8826298284233990544), source_column_name='first_name', target_column_name='first_name', confidence=1.0), ColumnRelation(target_data_source=pandas DataFrame (hash -8826298284233990544), source_column_name='last_name', target_column_name='last_name', confidence=1.0)]

In [20]:
fincen.map_rows_to(
    employee, value_matching_config, row_mapping_config
)

In [21]:
import pandas as pd
def _generate_structured_row_matches(source, employee):
        """Generate structured row matches."""
        rows = {
            'first_name': [],  # just for sanity check
            'last_name': [],   # just for sanity check  
            'emp_uuid': [],
            'doc_uuid': []
        }
        target_df = employee.get_data()
        for relation in source.row_relations:
            source_index = relation.source_index
            target_index = relation.target_index
            source_row = source.get_data().iloc[source_index]
            target_row = employee.get_data().iloc[target_index]
            rows['emp_uuid'].append(target_row.id)
            rows["doc_uuid"].append(source_row.id)
            rows["first_name"].append(source_row.first_name)
            rows["last_name"].append(source_row.last_name)
        return pd.DataFrame(rows)

In [22]:
results_df = _generate_structured_row_matches(fincen, employee)
results_df.head()

,first_name,last_name,emp_uuid,doc_uuid
0,Roxanne,Standerford,33bafc44-4752-45d8-bea4-3f9df9a8b965,d48ed690-d5f5-45c0-bc58-693458e8b20c

In [23]:
fincen.get_data().iloc[2].first_name

'Daniel'

# Write final dataframe to Main database

In [24]:
num_records = results_df.shape[0]
with DBContext(DatabaseEnum.MAIN_INGESTION_DB) as main_db:
    for i in range(num_records):
        row = results_df.iloc[i]
        main_db.add(EmployeeToDocument(employee_id=str(row.emp_uuid),
                                       document_ingestion_id=str(row.doc_uuid)
                                      ))

[23/03/2021 03:01:14] [    INFO] [sqlalchemy.engine.base.Engine] [_begin_impl():730] [PID:135 TID:140482163009344] -> BEGIN (implicit)
[23/03/2021 03:01:14] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:135 TID:140482163009344] -> INSERT INTO employee_to_document (employee_id, document_ingestion_id, related_employee_id) VALUES (%(employee_id)s, %(document_ingestion_id)s, %(related_employee_id)s) RETURNING employee_to_document.id
[23/03/2021 03:01:14] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:135 TID:140482163009344] -> {'employee_id': UUID('33bafc44-4752-45d8-bea4-3f9df9a8b965'), 'document_ingestion_id': UUID('d48ed690-d5f5-45c0-bc58-693458e8b20c'), 'related_employee_id': None}
[23/03/2021 03:01:14] [    INFO] [sqlalchemy.engine.base.Engine] [_commit_impl():772] [PID:135 TID:140482163009344] -> COMMIT