In [1]:
!pwd
import sys
sys.path.append('/workspace')

/workspace/notebooks

In [2]:
from src.core.db.config import DatabaseEnum
from src.core.db.models.pdf_models import Fincen8300Rev4
from src.core.db.session import DBContext, DbQuery

[20/03/2021 02:18:40] [    INFO] [dotenv.main] [_get_stream():77] [PID:160 TID:140691405354816] -> Python-dotenv could not find configuration file /workspace/src/core/env/.local.env.local.

In [3]:
with DBContext(DatabaseEnum.PDF_INGESTION_DB) as pdf_db:
    pdf_db.add(Fincen8300Rev4(first_name='BillyInNotebook'))

[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> select version()
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> select current_schema()
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1341] [PID:160 TID:140691405354816] -> SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1342] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1341] [PID:160 TID:140691405354816] -> SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1342] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> show standard_conforming_strings
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_begin_impl():730] [PID:160 TID:140691405354816] -> BEGIN (implicit)
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> INSERT INTO fincen8300_rev4 (amends_prior_report, suspicious_transaction, multiple_individuals, last_name, first_name, middle_initial, tin, address, dob, city, state, zip, country, occ_prof_bus, identdoc_describe, identdoc_issued_by, identdoc_number, multiple_behalf, last_name_org_name_behalf, first_name_behalf, middle_initial_behalf, tin_behalf, dba_behalf, address_behalf, occ_prof_bus_behalf, city_behalf, state_behalf, zip_behalf, country_behalf, identdoc_describe_behalf, identdoc_issued_by_behalf, identdoc_number_behalf, date_cash_received, total_cash_received, cash_received_mult_pmts, total_price, usde_us_currency, usde_amt_benj_higher, usde_foreign_currency, foreign_currency_country, usde_cashiers_checks, usde_money_orders, usde_bank_drafts, usde_travelers_checks, type_ot_personal_prop, type_ot_real_property, type_ot_personal_services, type_ot_business_services, type_ot_intangible_property, type_ot_debt_obligations_paid, type_ot_exchange_of_cash, type_ot_escrow_or_trust_funds, type_ot_bail_received, type_ot_other, specific_description_of_property, business_name_brc, ein_brc, address_brc, city_brc, state_brc, zip_code_brc, nature_of_business_brc, signature_footer, title_footer, date_of_signature_footer, contact_name_printed_brc, contact_phone_brc) VALUES (%(amends_prior_report)s, %(suspicious_transaction)s, %(multiple_individuals)s, %(last_name)s, %(first_name)s, %(middle_initial)s, %(tin)s, %(address)s, %(dob)s, %(city)s, %(state)s, %(zip)s, %(country)s, %(occ_prof_bus)s, %(identdoc_describe)s, %(identdoc_issued_by)s, %(identdoc_number)s, %(multiple_behalf)s, %(last_name_org_name_behalf)s, %(first_name_behalf)s, %(middle_initial_behalf)s, %(tin_behalf)s, %(dba_behalf)s, %(address_behalf)s, %(occ_prof_bus_behalf)s, %(city_behalf)s, %(state_behalf)s, %(zip_behalf)s, %(country_behalf)s, %(identdoc_describe_behalf)s, %(identdoc_issued_by_behalf)s, %(identdoc_number_behalf)s, %(date_cash_received)s, %(total_cash_received)s, %(cash_received_mult_pmts)s, %(total_price)s, %(usde_us_currency)s, %(usde_amt_benj_higher)s, %(usde_foreign_currency)s, %(foreign_currency_country)s, %(usde_cashiers_checks)s, %(usde_money_orders)s, %(usde_bank_drafts)s, %(usde_travelers_checks)s, %(type_ot_personal_prop)s, %(type_ot_real_property)s, %(type_ot_personal_services)s, %(type_ot_business_services)s, %(type_ot_intangible_property)s, %(type_ot_debt_obligations_paid)s, %(type_ot_exchange_of_cash)s, %(type_ot_escrow_or_trust_funds)s, %(type_ot_bail_received)s, %(type_ot_other)s, %(specific_description_of_property)s, %(business_name_brc)s, %(ein_brc)s, %(address_brc)s, %(city_brc)s, %(state_brc)s, %(zip_code_brc)s, %(nature_of_business_brc)s, %(signature_footer)s, %(title_footer)s, %(date_of_signature_footer)s, %(contact_name_printed_brc)s, %(contact_phone_brc)s) RETURNING fincen8300_rev4.id
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {'amends_prior_report': None, 'suspicious_transaction': None, 'multiple_individuals': None, 'last_name': None, 'first_name': 'BillyInNotebook', 'middle_initial': None, 'tin': None, 'address': None, 'dob': None, 'city': None, 'state': None, 'zip': None, 'country': None, 'occ_prof_bus': None, 'identdoc_describe': None, 'identdoc_issued_by': None, 'identdoc_number': None, 'multiple_behalf': None, 'last_name_org_name_behalf': None, 'first_name_behalf': None, 'middle_initial_behalf': None, 'tin_behalf': None, 'dba_behalf': None, 'address_behalf': None, 'occ_prof_bus_behalf': None, 'city_behalf': None, 'state_behalf': None, 'zip_behalf': None, 'country_behalf': None, 'identdoc_describe_behalf': None, 'identdoc_issued_by_behalf': None, 'identdoc_number_behalf': None, 'date_cash_received': None, 'total_cash_received': None, 'cash_received_mult_pmts': None, 'total_price': None, 'usde_us_currency': None, 'usde_amt_benj_higher': None, 'usde_foreign_currency': None, 'foreign_currency_country': None, 'usde_cashiers_checks': None, 'usde_money_orders': None, 'usde_bank_drafts': None, 'usde_travelers_checks': None, 'type_ot_personal_prop': None, 'type_ot_real_property': None, 'type_ot_personal_services': None, 'type_ot_business_services': None, 'type_ot_intangible_property': None, 'type_ot_debt_obligations_paid': None, 'type_ot_exchange_of_cash': None, 'type_ot_escrow_or_trust_funds': None, 'type_ot_bail_received': None, 'type_ot_other': None, 'specific_description_of_property': None, 'business_name_brc': None, 'ein_brc': None, 'address_brc': None, 'city_brc': None, 'state_brc': None, 'zip_code_brc': None, 'nature_of_business_brc': None, 'signature_footer': None, 'title_footer': None, 'date_of_signature_footer': None, 'contact_name_printed_brc': None, 'contact_phone_brc': None}
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_commit_impl():772] [PID:160 TID:140691405354816] -> COMMIT

In [4]:
db = DbQuery(DatabaseEnum.PDF_INGESTION_DB)
result = db.execute("SELECT * from public.fincen8300_rev4")
print(result)
#for r in result:
#    print(type(r))
#    print(r)

[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> SELECT * from public.fincen8300_rev4
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}

<sqlalchemy.engine.result.ResultProxy object at 0x7ff521bd2a50>

# Read the pdf data into a data source

In [5]:
db = DbQuery(DatabaseEnum.PDF_INGESTION_DB)
result = db.execute("SELECT * from public.fincen8300_rev4")

[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> SELECT * from public.fincen8300_rev4
[20/03/2021 02:18:40] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}

In [6]:
type(result)

sqlalchemy.engine.result.ResultProxy

In [7]:
from pandas import DataFrame
df = DataFrame(result.fetchall())
df.columns = result.keys()

In [8]:
df.head()

,id,amends_prior_report,suspicious_transaction,multiple_individuals,last_name,first_name,middle_initial,tin,address,dob,...,address_brc,city_brc,state_brc,zip_code_brc,nature_of_business_brc,signature_footer,title_footer,date_of_signature_footer,contact_name_printed_brc,contact_phone_brc
0,d08188b0-61f9-4e82-bb44-d2ca9e3f547d,None,None,None,Baranov,Jacqueline,None,761870877,500 east 77th street,01291971,...,None,None,None,None,None,None,None,None,None,None
1,fcc83438-4a34-47ad-adc8-52d7be146434,None,None,None,Burton,Cliffton,None,192837465,54 Longfellow St Apt 1986,02101962,...,None,None,None,None,None,None,None,02112021,Rachel Adams,None
2,186b1728-d9e9-4a89-8286-1a66b0d56ab0,None,None,None,Abowd,Daniel,None,171363880,10-30 Jackson Ave.,05301970,...,None,None,None,None,None,None,None,None,None,None
3,5f49c0a1-4d9e-468c-a2b1-6abe0b704ed4,None,None,None,Hetfield,James,None,111111115,415 North Grand Avenue,08031963,...,None,None,None,None,None,None,None,07111999,Venante Alcida,None
4,17513205-cff6-44c4-b7bf-447fb0a38d65,None,None,None,Hammett,Kirk,None,222222223,20 S. Green Hill Ave.,11181962,...,None,None,None,None,None,None,None,11222019,Ivan Alonzo,None

In [9]:
from src.sources.data_source import DataSource
fincen = DataSource(df)

# Read golden data into data source

In [10]:
db = DbQuery(DatabaseEnum.ITACT_INGESTION_DB)
result = db.execute("SELECT * from audit.golden_person")

[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> select version()
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> select current_schema()
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1341] [PID:160 TID:140691405354816] -> SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1342] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1341] [PID:160 TID:140691405354816] -> SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_cursor_execute():1342] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> show standard_conforming_strings
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1235] [PID:160 TID:140691405354816] -> SELECT * from audit.golden_person
[20/03/2021 02:18:42] [    INFO] [sqlalchemy.engine.base.Engine] [_execute_context():1240] [PID:160 TID:140691405354816] -> {}

In [18]:
df_golden = DataFrame(result.fetchall())
df_golden.columns = result.keys()
golden = DataSource(df_golden)

# Map the columns

In [20]:
# equivalent to _process_structured

from src.sources.structured_data_source import StructuredDataSource
from src.mapping.pdfs.pdf_field_name_classifier import FieldNameClassifier
from src.mapping.pdfs.pdf_field_label_catalog import FieldLabelCatalog
from src.mapping.pdfs.pseudofield_generator import PseudofieldGenerator

pseudofield_generator = PseudofieldGenerator(fincen)
pseudofield_generator.generate()

In [28]:
# equivalent to _create_column_relations_for
def _create_column_relations_for(source, target):
    """Create column relations from canonical column identifiers."""
    gold_id_info = FieldNameClassifier.get_id_info_from_df(target.get_data())
    data_id_info = FieldNameClassifier.get_id_info_from_df(source.get_data())
    for identifier in FieldLabelCatalog:
        if identifier in gold_id_info and identifier in data_id_info:
            g_id = gold_id_info[identifier]
            d_id = data_id_info[identifier]
            source.create_column_relation(
                d_id.field_name, g_id.field_name, target
            )
            print(
                "New relation detected: %s" % str(source.column_relations[-1])
            )

In [29]:
_create_column_relations_for(fincen, golden)

New relation detected: tin -> pandas DataFrame (hash -7182352771501649532): ssn (1.00 conf)

# Find Mappings

In [42]:
from src.mapping.rows.row_mapping_configuration import RowMappingConfiguration
from src.mapping.values.value_matching_configuration import ValueMatchingConfiguration

In [35]:
import json
def load_config(path):
        """
        Read JSON from a filepath
        """
        with open(path, "r") as F:
            return json.load(F)

In [43]:
value_matching_config_json = load_config('../config/mapping/levenshtein_default.json')
row_mapping_config_json = load_config('../config/mapping/weighted_linear_default.json')
value_matching_config = ValueMatchingConfiguration(**value_matching_config_json)
row_mapping_config = RowMappingConfiguration(**row_mapping_config_json)

In [44]:
fincen.map_rows_to(
    golden, value_matching_config, row_mapping_config
)

In [57]:
import pandas as pd
def _generate_structured_row_matches(source, golden):
        """Generate structured row matches."""
        rows = {
            "first_name": [],
            "last_name": [],
            "ssn": [],
            "pdf_document_type": [],
        }
        target_df = golden.get_data()
        for relation in source.row_relations:
            source_index = relation.source_index
            target_index = relation.target_index
            source_row = source.get_data().iloc[source_index]
            target_row = golden.get_data().iloc[target_index]
            rows["first_name"].append(source_row.first_name)
            rows["last_name"].append(source_row.last_name)
            rows["ssn"].append(target_row.ssn)
            rows["pdf_document_type"].append('fincen')
        return pd.DataFrame(rows)

In [58]:
results_df = _generate_structured_row_matches(fincen, golden)

In [49]:
r = fincen.row_relations

In [52]:
fincen.get_data().iloc[2].first_name

'Daniel'

In [59]:
results_df.head()

   first_name  last_name        ssn pdf_document_type
0  Jacqueline    Baranov  761870877            fincen
1      Daniel      Abowd  171363880            fincen
2      Martin   Volinsky  107292414            fincen
3      Nataly     Romero  293754712            fincen
4      Cerena  Rodriquez  550136294            fincen

# Write final dataframe to Main database